@use '../utils' as u;
@use './colors' as c;
@use './fonts' as f;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: u.rem(16);
    font-family: f.$primaryFont;
    color: c.$grayishViolet;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    color: c.$veryDarkViolet;
}

h1 {
    font-size: u.rem(38);
    line-height: u.rem(50);
    letter-spacing: u.rem(-1);

    @include u.breakpoint-up(large) {
        font-size: u.rem(77);
        line-height: u.rem(87);
    }
}

h2 {
    font-size: u.rem(27);

    @include u.breakpoint-up(large) {
        font-size: u.rem(36);
    }
}

h3 {
    font-size: u.rem(20);
}

p {
    margin: 0;
    line-height: u.rem(32);
}

button {
    display: inline-block;
    font-size: u.rem(18);
    font-family: f.$primaryFont;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: c.$cyan;
    color: white;
    white-space: nowrap;
    font-weight: 700;
    border-radius: u.rem(35);
    padding: u.rem(14) u.rem(40);
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: rgba(42, 207, 207, 0.7);
    }
}

.gray-background {
    background-color: c.$grayBackground;
}

// Visibility
.hide-for-mobile {
    @include u.breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include u.breakpoint-up(large) {
        display: none;
    }
}